db:
    build: containers/db
    container_name: linkbinder_db
    mem_limit: 2g
    ports:
        - '%%ORA_PORT%%:1521'
        - '%%ORA_APEX_PORT%%:8080'
    volumes:
        - ./ddl:/root/ddl
    volumes_from:
        - datastore

elasticsearch:
    build: containers/elasticsearch
    ports:
        - '9200:9200'
        - '9300:9300'
    environment:
        NODE_NAME: node0
    volumes_from:
        - datastore
redis:
    image: redis:alpine
    container_name: linkbinder_redis
    ports:
        - '6379:6379'
    volumes_from:
        - datastore

## web:
    ## build: containers/web
    ## ports:
        ## - '80:80'
    ## volumes_from:
        ## - datastore
    ## volumes:
        ## - %%HOST_VOLUME_ROOT%%:/var/www/html
    ## links:
        ## - db

datastore:
    build: containers/datastore
    container_name: linkbinder_datastore

