div#learning {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    margin-top: 20px;
}

ul.learning, ul.learning ul {
    list-style-type: disc;
    margin: 3px 0px 5px 18px;
    padding: 0px;
}

ul.learning li {
    font-size: 15px;
    line-height: 100%;
    margin: 0px 0px 0px 15px;
    padding: 0px;
}

ul.learning a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

input[type=checkbox]:checked ~ #forLearningParts {
    display: none;
}