ul.learning, ul.learning ul {
    list-style-type: disc;
    margin: 10px 0px 5px 15px;
    padding: 0px;
}

ul.learning li {
    font-size: 15px;
    line-height: 100%;
    margin: 0px;
    padding: 0px;
}

ul.learning a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

ul.learning ul {
    display: none;
    _display: block;
}